h1 {
  color: #0170ff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 10px;
  color: #e54f1d
  text-align: center
}

a {
  color: #ff0101;
}

a:visited {
text-decoration: line-through;
color: #02847c
}

a:hover {
text-decoration: bold dotted
color: #e98444
}

a:active {
text-decoration: bold dotted
color: #4ee2d8
}

li {
  border-left: 5px solid #02847c;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
}

.content {
  padding: 20px;
  margin: 10px;
  background-color: #02847c;
  color: #fff;
  font-style: oblique;
}

.footer {
  padding: 20px;
  margin: 10px;
  background-color: #02847c;
  color: #fff;
  text-align: center;
}
